body{
    font-family: Tahoma;
    font-weight: bold;
}

li {
    padding:3px;
}

#topMenu {
    position: fixed;
    margin-top:0;
}

#topMenu li{
    list-style-type: none;
    padding: 5px;
    display: inline-block;
    width: 100px;
    background-color: #3f3938;
    color: #2eaff4;
    text-align: center;
    font-size: 20px;
    margin-left:20px;
    margin-right:20px;
}

#topMenu ul li:hover {
    background-color: blanchedalmond;
    cursor: pointer;
}

#TOP {
    background-color: #2eaff4;
    width:100%;
    height:250px;
    box-shadow: 10px 10px 5px #888888;

}

#TOP .content {
    display: inline-block;
    margin-left: 16.5%;
    vertical-align: middle;
    margin-top: 2%;
}

#CV {
    width:100%;
    height:250px;
    box-shadow: 10px 10px 5px #888888;
}

#CV .content {
    display: inline-block;
    margin-left: 17%;
    vertical-align: middle;
    margin-top:5.5%;
}

#PERSON {
    background-color: #2eaff4;
    width:100%;
    height:250px;
    box-shadow: 10px 10px 5px #888888;
}

#PERSON .content {
    max-width:50%;
    display: inline-block;
    margin-left: 15%;
    vertical-align: middle;
    margin-top:5%;
}

#KONTAKT {
     width:100%;
     height:250px;
     box-shadow: 10px 10px 5px #888888;
 }

#KONTAKT .content {

    display: inline-block;
    vertical-align: middle;
    margin-top:8%;
}

#kontaktTekst {
    margin-left:15%;

}

#someText {
    margin-left:15%;
}

#facebook {
    margin-left:15%;
}

