body{
    margin:0;
    padding:0;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/d/d1/TRS-80_Model_4.jpg");
    height:100%;
    width:100%;
    background-size: 100%;
    background-position-y: -150px;
}

.Menu {
    background-color: rgba(255, 255, 255, 0.85);
    opacity: 50;
    width: 100%;
    text-align: center;
    height: 1cm;
}

.submenus{
    width: 100%;
    height: 300px;
    text-align:center;
    margin-bottom:5%;
}

.submenu{
    background-color: rgba(255, 255, 255, 0.85);
    width: 300px;
    height: 100%;
    display: inline-block;
    margin: 5%;
    border-style: groove;
    color: #4286f4;
    text-shadow: 0.5px 0.5px #020d29;
    font-family:"Calibri Light";
    font-size: 29px;;
    font-weight:bold;
    overflow: hidden;
    text-align: left;
}

.submenu:hover{
    border: double;
    cursor:pointer;
}

.submenu img{
    max-width:100%;
    max-height:100%;
    vertical-align: text-top;
}

#TopMenu li:hover {
    font-weight:lighter;
    cursor:pointer;
}

#TopMenu li {
    font-family:"Calibri Light";
    font-size: 29px;;
    font-weight:bold;
    display: inline;
    margin-left: 1cm;
    margin-right: 2cm;
    color: #4286f4;
    text-align: center;
    border: 1px solid #e7e7e7;
    border-style: hidden;
    vertical-align: -0.40cm;
    text-shadow: 1px 1px #020d29;
}

#topline{
    position: relative;
    top:-9px;
    background-color:black;
    width:100%;
    height:5px;
}

.toppic img{
    height: 100%;
    width: 100%;
}

#topLogo{
    text-align: center;
    margin-top:3%;
}